<h2>You Will Learn</h2>

<h2>Heel work</h2>
<p>Walking on a lead without pulling. How to teach your dog to walk on a lead correctly. Regular walks are essential, and are one of your dog's biggest rewards. When you achieve this, you will be able to enjoy long relaxing walks with your dog.</p>

<h2>Recall</h2>
<p>Training you how to get your dog to come when called is fun and very often amusing. There are many pitfalls that you can easily fall into. Gaynor will help you avoid them, and guide you as to how to get your dog, recalling back to you, for you both to enjoy the experience.</p>

<h2>Sit and down</h2>
<p>She will teach you how to get your dog to do the two safety positions. They are sit and down. These are particularly useful when you are going to cross the road and you need the dog to be calm and controlled. This is the green cross code for dogs.</p>

<h2>Meet a stranger</h2>
<p>You will be taught how to keep your dog in control at your side, while you meet and have a conversation with a friendly stranger.</p>
<p>You and your dog's safety is always foremost in Gaynor's mind as you train with her. She will show you how to get your dog to go through a door, in a safe and obedient manner. Teaching the dog to wait while you open the door, then either you go through the door together, or you will go first and the dog will follow.</p>
<p><strong>At the end of this course she aims for you and your dog to achieve a Bronze award.</strong></p>
<p>Over the six weeks on the Bronze course, you will be mastering the basics of on lead obedience, the solid foundations that you and your dog will rely on and build on.</p>
