<img
  src="/images/courses/junior/junior-v1.webp"
  alt="Puppy engaging with handler during the Junior course"
  width="500"
  height="246"
  loading="lazy"
  decoding="async"
  class="figure-right"
/>

<h2>You Will Learn</h2>

<h2>Engagement training</h2>

<p>Engagement training is a way of getting your puppy to pay you more attention and it is done in a fun and
  motivational way.
  Gaynor will teach you how to use touch training to motivate your puppy. This will prove invaluable as
  you progress to getting your dog to walk on the lead without pulling.</p>

<h2>Recall</h2>
<p>Getting your dog to be responsive to their name and to come back to you when called.</p>

<h2>Follow me: the foundation for loose-lead walking</h2>
<p>She will show you how to get your puppy to stay close and look at you. This will help to teach your puppy not to
  pull on the lead and is also a foundation training technique for teaching your pup to come back to you when called.
</p>


<h2>Play with a toy</h2>
<p>Playing with a toy is one of the great joys in the life of a puppy. She will show you how to harness this natural
  drive and use it to teach the pup how to retrieve the toy and bring it back to you. This will become a great way of
  exercising your pup and another way to engage with your puppy and get him keen to interact with you.</p>


<h2>Prevent jumping up on people</h2>
<p>This is an essential discipline to teach your puppy. Jumping up is learned by the pup at an early age and many
  people will accept this behaviour when the pup is little but when your pup is fully grown it becomes unacceptable. She
  will show you how to get your pup to sit when they meet people. This is the dog equivalent to good manners.</p>

<h2>Sit, down, stand</h2>
<p>Gaynor will show you how to get your pup to sit, to lie down and back into a sit, then stand.</p>

<h2>Stay</h2>
<p>Starting your puppy to understand the stay command, working towards a 30-second stay.</p>

<h2>Examine your pup</h2>
<p>Preparing your pup for visits to the vet, or for times when you need to check for an injury, taught in a way
  puppies enjoy and will do willingly.</p>

<div class="callout">
  <p class="mb-3">At the beginning and end of each class the puppies are let off lead to play together.</p>
  <p class="mb-3">It's completely normal for a young dog to become a little rebellious between about eight and eighteen
  months: the teenage stage doesn't mean anything has gone wrong with the training.</p>
  <p class="mb-0">Over the course of the six weeks on the junior course you will be developing your knowledge of engagement training
  and improving your relationship with your puppy, working towards a Junior award and preparing the pup for the future
  training throughout their lives.</p>
</div>
